
 *{
    margin: 0px;
    padding: 0px;
  
   }
  body {
  
      background-image: url('../imagenes/Anime-Dr.-Stone.jpeg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-attachment: fixed;
  }
  